:root {
    --color1: #F55A2A;
    --color2: #8BC1FF;
    --color3: #EAE8DB;
    --color4: #FF8903;
}

header,
footer {

    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}

.navbar {
    justify-content: space-between !important;
}

.navbar-snapps {
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.btn-menu {
    color: white !important;
    border: none;
}

#logo {
    height: 50px;
}

.search-bar {
    flex: 1 1 auto;
    min-width: 0;
    background-color: white;
    border-radius: 40px;
    padding: 4px 10px;
}

.search-input {
    border: none;
    box-shadow: none !important;
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-search {
    background-color: var(--color4);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 5px;
}

.cart-area {
    color: white;
    font-size: 18px;
    text-align: end;
}

.cart-icon {
    font-size: 26px;
    margin-right: 6px;
    text-align: center;
}

.dropdown {
    padding-bottom: 10px;
}

.dropdown-toggle {
    border: 1px solid black;
}

.offcanvas-header{
    background-color: var(--color2);
}

.menu-item {
    border: none;
    background-color: var(--color3);
    margin-bottom: 5px;
    border-radius: 6px;
}


.menu-link {
    display: block;
    font-size: 1.1rem;
    padding: 12px;
    color: var(--color1);
    text-decoration: none;
    font-weight: 600;
}

.menu-link:hover {
    color: var(--color4);
}


.submenu {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
    background-color: var(--color3);
    border-left: 3px solid var(--color4);
    border-radius: 0 0 6px 6px;
}

.submenu-item {
    display: block;
    padding: 8px 10px;
    color: var(--color1);
    text-decoration: none;
    font-size: 0.95rem;
}

.submenu-item:hover {
    color: var(--color4);
    padding-left: 14px;
    transition: 0.2s;
}


@media (max-width: 576px) {
    #logo {
        height: 35px;
    }

    .search-bar {
        margin-left: 4px !important;
        padding-right: 4px !important;
        margin-right: 0 !important;
    }

    .cart-price {
        font-size: 12px;
    }

    .navbar {
        width: 100%;
    }
}